div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
	float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 50%;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

span.validationError {
	color: red;
}

legend {
	display: block;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}

fieldset {
	width: 1200px;
	box-sizing: border-box;
	margin-left: 146px;
	/* border: 1px solid #999; */
	border: 1px solid #0C972C;
	background: #D0FADA
}

a{
text-decoration:underline;
color:#555555;
}